.post {

  &__imageHolder {
    display: flex;
    overflow: hidden;
  }

  &__image {
    object-fit: cover;
  }

  &__content {
    padding: 24px 20px;
  }

  &__headline {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
  }

  &__author {
    font-size: 14px;
  }

  &__markdown {
    padding: 16px 0;

    p {
      margin: 0 0 1em;
    }
  }

  &__empty {
    padding: 32px 20px;
    text-align: center;
  }
}

.returnLink {
  display: block;
  padding: 8px 40px;
  margin: -8px -12px;
  border-right: 1px solid #BDBDBD;

  &:hover {
    background: #dcdcdc;
  }
}