.recruitmentForm {
  padding: 24px 20px;
  max-width: 480px;
  margin: 0 auto;
}

.returnLink {
  display: block;
  padding: 8px 40px;
  margin: -8px -12px;
  border-right: 1px solid #BDBDBD;

  &:hover {
    background: #dcdcdc;
  }
}