.page {
  display: grid;
  grid-template-rows: 100px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  gap: 48px;
  font-family: var(--font-geist-sans);
}

.main {
  display: grid;
  grid-template-columns: 240px 696px 240px;
  gap: 32px;
  grid-row-start: 2;
}