.classicBox {
  background: #FFFFFF;
  border: 1px solid #BDBDBD;
  border-radius: 12px;

  &__redirect {
    padding: 8px 0;
    display: block;
    text-align: center;
    text-decoration: underline;
    color: #828282;
    font-size: 12px;
    background: transparent;
    border: none;
    cursor: pointer;
    justify-self: center;
    border-top: 1px solid #BDBDBD;
    width: 100%;
  }
}