.navigation {
  background: #FFFFFF;
  border-bottom: 1px solid #BDBDBD;
  overflow: auto;
  max-width: 100vw;

  &__layout {
    margin: 0 auto;
    width: min(1240px, 100%);
    display: flex;

    @media screen and (max-width: 1280px) {
      width: min(696px, 100%);
    }

    @media screen and (max-width: 768px) {
      width: 100%;
      padding: 0 16px;
    }
  }

  &__account {
    margin-left: auto;
    display: flex;
  }

  &__link {
    font-size: 16px;
    padding: 10px;

    &:hover {
      background: #dcdcdc;
    }

    &:last-child {
      margin-left: auto;
    }

  }
}